
  
  body {
    background-color: #cbd4dd;
  }
  
  .container {
    background-color: #fcf5f5;
    box-shadow: 0 0 10px rgba(216, 205, 217, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }

  header {
    background: linear-gradient( rgb(81, 81, 244), rgb(5, 5, 110)); 
  }
  
  header h1 {
    margin: 0;
  }
  
  aside {
    background-color: #f0f2f4;
    padding: 20px;
    border-radius: 5px;
  }

  .list-group-item {
    cursor: pointer;
  }
  
  .list-group-item:hover {
    background-color: #1c8af9;
  }
  

  /*custom cards*/
  #forecast {
    margin-bottom: 20px;
    background: #022c48;
    padding: 20px; /* Added padding for better visual appeal */
  }



  .card-deck img {
    max-width: 50px;
    height: auto;
    margin-bottom: 10px;

  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    header h1 {
      font-size: 1.5rem;
    }
  
    aside {
      margin-top: 20px;
    }
  
    .card {
      margin-top: 10px;
    }
  }
  